
 
      /*播放音乐*/
    
    .rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  #playPauseBtn {
    position: fixed;
    /*bottom: 230px;*/
    /*right: 450px;*/
    z-index: 9999;
  }
   
  
  
      body {
    background-image: url('../bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    }
    body {
      background-color: #F0F0F0;
      font-family: Arial, sans-serif;
    }
    
    .container {
        opacity: 0.65;
          width: 100%;
     text-align: center;
      max-width: 800px;
      margin: 0 auto;
      background-color: #FFFFFF;
      padding: 20px;
      border-radius: 10px;
      /*margin-top: 30px;*/
      box-shadow: 0px 0px 10px 0px #BBBBBB;
    }
    
    @media (max-width: 500px) {
      .container {
        width: 85%;
      }
      
           #playPauseBtn {
    position: fixed;
    bottom: 15px;
    right: 20px;
    z-index: 9999;
  }
  
    }
    
    @media (max-width: 480px) {
  body {
    font-size: 14px;
  }
}
    @media (max-width: 320px) {
  body {
    font-size: 10px;
  }
}
    
    h1 {
        text-align: center;
        color: #ff0000;
      background-image: linear-gradient(to right top, #f851b0, #e66bcd, #d081e2, #b893f0, #a3a3f6, #8cb0fe, #77bbff, #67c5ff, #3dd1ff, #00dcfc, #00e6f1, #11eee0);
         border-radius: 6px;
    }
    
    input[type="text"] {
      width: 90%;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid #BBBBBB;
      margin-bottom: 20px;
      display: block;
      margin: 0 auto;
    }

    
    input[type="submit"] {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      background-color: #444444;
      color: #FFFFFF;
      border: 0px;
      border-radius: 5px;
      cursor: pointer;
    }
    
    input[type="submit"]:hover {
      background-color: #222222;
    }
    
    
     .results {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #BBBBBB;
    margin-top: 20px;
    text-align: center;
   }
   
   .results p {
    font-size: 17px;
    margin-bottom: 7px;
   }
   
  #results-text, #result-candle span, #result-cause span, #result-change span, #result-time span {
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
   }
    
    .candle-type {
      padding: 10px;
      font-size: 16px;
      border-radius: 6px;
      border: 4px solid #ccc;
    }
    span {
     display: block;
     font-size: 16px;
     text-align: center;
      margin: 6px auto;
    }
        a {
      display: inline-block;
      text-align: center;
      background-image: linear-gradient(to right top, #3b5dff, #008fff, #00b4ff, #00d4ff, #91effc);
      padding: 10px;
      font-size: 16px;
      text-decoration: none;
      font-weight: bold;
      background-color: #FFFFFF;
      color: #ff0000;
      border-radius: 5px;
      border: 1px solid #BBBBBB;
      margin-bottom: 20px;
    }
    
    a:hover {
      background-color: #222222;
      color: #FFFFFF;
    }
    
    
    .db {
        text-align: center;
        justify-content: center;
        font-size: 15px;
        font-weight: bold;
    }